.myNumber {
    width: 50px;
    height: 30px;
    background-color: darkorange;
    margin: 2px;
}

.myDisplay {
    width: 225px;
    height: 40px;
    border: 1px red solid;
    margin-bottom: 10px;
}

.container {
    padding: 10px;
    width: 230px;
    border: 1px red solid;
    background-color: whitesmoke;
}